body::before {
    display: block;
    content: "";
    height: 40px;
}

.wrapper {
   
    padding: 20px;
    text-align: center;
}

.page-link{
    color: white;
    background-color: black;
}

.table-dark td{
    vertical-align: middle;
}